<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Cybercom_Practice1>
            <version>0.0.3</version>
        </Cybercom_Practice1>
    </modules>
    <frontend>
        <routers>
            <practice1>
                <use>standard</use>
                <args>
                    <module>Cybercom_Practice1</module>
                    <frontName>practice1</frontName>
                </args>
            </practice1>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cybercom_practice>Cybercom_Practice1_Adminhtml</cybercom_practice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice1>
                    <file>practice1.xml</file>
                </practice1>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <practice1>
                <class>Cybercom_Practice1_Model</class>
                <resourceModel>practice1_resource</resourceModel>
            </practice1>
            <practice1_resource>
                <class>Cybercom_Practice1_Model_Resource</class>
                <entities>
                    <practice1>
                        <table>practice1</table>
                    </practice1>

                    <practice1_eav_attribute>
                        <table>practice1_eav_attribute</table>
                    </practice1_eav_attribute>
                </entities>
            </practice1_resource>
        </models>

        <blocks>
            <practice1>
                <class>Cybercom_Practice1_Block</class>
            </practice1>
        </blocks>

        <resources>
            <practice1_setup>
                <setup>
                    <module>Cybercom_Practice1</module>
                    <class>Cybercom_Practice1_Model_Resource_Setup</class>
                </setup>
            </practice1_setup>
        </resources>
        <helpers>
            <practice1>
                <class>Cybercom_Practice1_Helper</class>
            </practice1>
        </helpers>
    </global>
</config>