<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shrey_Wholeseller>
            <version>0.0.1</version>
        </Shrey_Wholeseller>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <module>Shrey_Wholeseller_Adminhtml</module>    
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wholeseller>
                    <file>wholeseller.xml</file>
                </wholeseller>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <wholeseller>
                <class>Shrey_Wholeseller_Helper</class>
            </wholeseller>
        </helpers>
        <blocks>
            <wholeseller>
                <class>Shrey_Wholeseller_Block</class>
            </wholeseller>
        </blocks>
        <models>
            <wholeseller>
                <class>Shrey_Wholeseller_Model</class>
                <resourceModel>shrey_wholeseller_resource</resourceModel>
            </wholeseller>
            <shrey_wholeseller_resource>
                <class>Shrey_Wholeseller_Model_Resource</class>
                <entities>
                    <wholeseller>
                        <table>shrey_wholeseller</table>
                    </wholeseller>
                </entities>
            </shrey_wholeseller_resource>
        </models>
        <resources>
            <wholeseller_setup>
                <setup>
                    <module>Shrey_Wholeseller</module>
                </setup>
            </wholeseller_setup>
        </resources>
    </global>
</config>